services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: prdb
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./internal/migrations:/migrations
    ports:
      - "5432:5432"
  app:
    build: .
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASS: postgres
      DB_NAME: prdb
      DB_SSLMODE: disable
      PORT: 8080
    depends_on:
      - db
    ports:
      - "8080:8080"
volumes:
  pgdata:
